body {
  background-color: #f8f5f1;
}
.App {
  max-width: 700px;
  margin: 50px auto;
}

.App .footer a {
  color: #f48b29;
  text-decoration: underline;
}
.App .footer {
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #161d6f;
}
