body {
  background-image: url("./img/rainbow-field.png");
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}
.App {
  max-width: 700px;
  margin: 50px auto;
}

.App .footer a {
  color: #f48b29;
  text-decoration: underline;
}
.App footer {
  color: #161d6f;
  font-size: 12px;
  margin: 5px;
}
